[submodule "libraries/AFMotor"]
	path = libraries/AFMotor
	url = git@github.com:adafruit/Adafruit-Motor-Shield-library.git
[submodule "libraries/IRLib"]
	path = libraries/IRLib
	url = git@github.com:cyborg5/IRLib.git
[submodule "libraries/NewPing"]
	path = libraries/NewPing
	url = git@github.com:PaulStoffregen/NewPing.git
